<!-- Intro section start -->

<section id="intro" class="section">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="hello wow bounceInDown">
          <h1>Hello, I'm Mark Stone</h1>
          <h3><span class="rotate">Visual Designer. | Front-end Developer. | C# Programmer.</span></h3>
        </div>

        <a href="#profile">
          <div class="mouse-icon">
            <div class="wheel"></div>
          </div>
        </a>

      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>

<!-- Intro section end -->
