<!-- Profile contact callout section -->

<section id="profile-contact">

  <div class="container">

    <div class="row">

      <div class="col-sm-4 wow bounceInLeft">
        <div class="profile-item">
          <i class="fa fa-envelope-o"></i>
          <h5><a href="#">kevin.r.webster@gmail.com</a></h5>
        </div>
      </div>

      <div class="col-sm-4 wow bounceInUp">
        <div class="profile-item">
          <i class="fa fa-phone"></i>
          <h5>(817)727-1383</h5>
        </div>
      </div>

      <div class="col-sm-4 wow bounceInRight">
        <div class="profile-item">
          <i class="fa fa-map-marker"></i>
          <h5>Brooklyn, NY</h5>
        </div>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>

<!-- Profile contact callout section -->

<!-- Profile section start -->

<section id="profile" class="section">

  <div class="container">

    <div class="row">

      <div class="col-md-12 headline wow bounceInDown">
        <h2>Kevin Webster</h2>
        <p>Web Designer</p>
      </div>

      <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
        <img class="avatar" src="assets/images/photo.jpg" alt="">
      </div>

      <div class="col-md-3 col-sm-6 wow bounceInUp">

        <div class="profile-widget">
          <h3>Skillset</h3>

          <h5>UX Design</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
          </div>

          <h5>HTML / CSS3 / SASS</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
            <div class="skill-rate-off"></div>
          </div>

          <h5>Javascript</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
          </div>

          <h5>Ajax</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
            <div class="skill-rate-off"></div>
            <div class="skill-rate-off"></div>
          </div>
        </div>

        <div class="profile-widget">
          <h3>Social Profiles</h3>
          <ul class="widget-social">
            <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="https://github.com/kwebster2"><i class="fa fa-github-alt"></i></a></li>
            <li><a href="https://medium.com/@kevin.r.webster"><i class="fa fa-medium"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div><!-- .col-md-3 -->

      <div class="col-md-6 col-sm-12 wow bounceInRight">
        <h3>Profesional Profile</h3>
        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am so happy, my dear friend.</p>
        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>

<!-- Profile section end -->

<!-- Callout section start -->

<section id="stats" class="callout">

  <div class="container">

    <div class="row">

      <div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
        <h3>My Stats</h3>
      </div>

      <div class="col-md-3 col-sm-4 wow bounceInDown">
        <div class="stat">
          <div class="stat-icon">
            <h2><i class="fa fa-coffee hidden-xs"></i><span class="timer" data-to="32"></span></h2>
          </div>
          <h3>Cup of coffee</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow bounceInUp">
        <div class="stat">
          <div class="stat-icon">
            <h2><i class="fa fa-code hidden-xs"></i><span class="timer" data-to="999"></span></h2>
          </div>
          <h3>Line of code</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow bounceInRight">
        <div class="stat">
          <div class="stat-icon">
            <h2><i class="fa fa-child hidden-xs"></i><span class="timer" data-to="300"></span>+</h2>
          </div>
          <h3>Happy customers</h3>
        </div>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

</section>

<!-- Callout section end -->
